Repository QCLovers/PyTDSCF: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, fix-lint, pytest, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-docstring-first
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: "^(pytdscf/)"

      - id: fix-lint
        name: fix-lint
        entry: uv run ruff check . --fix
        language: system
        pass_filenames: false
        files: "^(pytdscf/)"

      - id: pytest
        name: pytest
        entry: bash -c "cd tests/build && uv run pytest -n auto .."
        language: system
        pass_filenames: false
        files: "^(pytdscf/|tests/)"

      - id: typecheck
        name: mypy
        entry: uv run mypy --install-types --non-interactive pytdscf
        language: system
        pass_filenames: false
        files: "^(pytdscf/)"

update uv lock files
  uv.lock
Due: none

Update README with project description and images
  README.md
Due: none

amend nootbook 03
  docs/notebook/poly-MPO-H2O-operate.ipynb
  docs/notebook/poly-MPO-H2O-propagate.ipynb
  docs/notebook/poly-MPO-H2O-relax.ipynb
  docs/notebook/spectra-H2O.ipynb
  pytdscf/model_cls.py
Due: format, fix-lint, pytest, typecheck

fixed by myself
  pytdscf/_mps_cls.py
  pytdscf/ase_handler.py
  pytdscf/model_cls.py
  ty.toml
  uv.lock
Due: format, fix-lint, pytest, typecheck

remove mypy
  mypy.ini
  pyproject.toml
Due: none

remove mypy
  uv.lock
Due: none

Bump version from 1.3.0 to 1.3.1
  pyproject.toml
Due: none

Add files via upload
  docs/notebook/pyrazine-qvc.ipynb
Due: none

Add new example 16
  docs/notebook/pyrazine-qvc.ipynb
  docs/notebook/quick-start.rst
Due: none

Clean up : remove unused loop and number operators
  docs/notebook/pyrazine-qvc.ipynb
Due: none

feat: add show_in_nm and title options to plot_spectrum
  pytdscf/spectra.py
Due: format, fix-lint, pytest, typecheck

fix: referemces,hamiltonian
  docs/notebook/pyrazine-qvc.ipynb
Due: none

fix: references and hamiltonian in pyrazine notebook
  docs/notebook/pyrazine-qvc.ipynb
Due: none

Add RDM value test
  pytdscf/_mps_cls.py
  pytdscf/_mps_mpo.py
  pytdscf/properties.py
  pytdscf/simulator_cls.py
  pytdscf/wavefunction.py
  tests/test_exiciton_propagate.py
  ty.toml
  uv.lock
Due: format, fix-lint, pytest, typecheck

improved rdm evaluation
  docs/notebook/radicalpair-liouville.ipynb
  pyproject.toml
  pytdscf/_contraction.py
  pytdscf/_helper.py
  pytdscf/_integrator.py
  pytdscf/_mpo_cls.py
  pytdscf/_mps_cls.py
  pytdscf/_mps_mpo.py
  pytdscf/_mps_parallel.py
  pytdscf/_mps_sop.py
  pytdscf/_site_cls.py
  pytdscf/_spf_cls.py
  pytdscf/dvr_operator_cls.py
  pytdscf/hamiltonian_cls.py
  pytdscf/model_cls.py
  pytdscf/properties.py
  pytdscf/simulator_cls.py
  pytdscf/wavefunction.py
  tests/test_mixedstate.py
  uv.lock
Due: format, fix-lint, pytest, typecheck

improved rdm evaluation
  pytdscf/_mps_cls.py
  pytdscf/_mps_parallel.py
  tests/test_exiciton_propagate.py
  tests/test_mpi.py
Due: format, fix-lint, pytest, typecheck

Bump version from 1.3.1 to 1.3.2
  pyproject.toml
Due: none

feat: add show_in_nm to spectra.py and add tests
  pytdscf/spectra.py
  tests/test_spectra.py
  uv.lock
Due: format, fix-lint, pytest, typecheck

revert: reset uv.lock to upstream version
  uv.lock
Due: none

fix: correct parameter(0.4320->0.4230), update axis titles, and reference link
  docs/notebook/pyrazine-qvc.ipynb
Due: none

mergerd show_in_nm and show_in_eV tests into single function
  tests/test_spectra.py
  uv.lock
Due: pytest

minor change on pytdscf.spectra
  pytdscf/spectra.py
  tests/test_mpi_exiciton_propagate.py
  uv.lock
Due: format, fix-lint, pytest, typecheck

remove radicalpy from deps
  pyproject.toml
  uv.lock
Due: none

1atdvp for jax
  pyproject.toml
  pytdscf/_const_cls.py
  pytdscf/_contraction.py
  pytdscf/_mps_cls.py
  pytdscf/_mps_mpo.py
  pytdscf/_site_cls.py
  tests/test_a1tdvp.py
Due: format, fix-lint, pytest, typecheck

v1.3.3
  README.md
  pyproject.toml
  uv.lock
Due: none

v1.3.3
  pytdscf/_contraction.py
  pytdscf/_mps_cls.py
  pytdscf/_site_cls.py
  pytdscf/_spf_cls.py
  pytdscf/basis/abc.py
  pytdscf/kraus.py
  pytdscf/model_cls.py
  uv.lock
Due: format, fix-lint, pytest, typecheck

bugfix active_dofs
  pytdscf/dvr_operator_cls.py
Due: format, fix-lint, pytest, typecheck

initialize dict
  pytdscf/ase_handler.py
Due: format, fix-lint, pytest, typecheck

Update README.md
  README.md
Due: none
